

@import "tailwindcss";
@plugin "daisyui";
html, body {
  height: 100%;
}



.special-container {
  background-color: white;
  padding: 12px;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
}