

@import "tailwindcss";
@plugin "daisyui";
html, body {
  height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main {
  flex: 1;
}
.special-container {
  background-color: white;
  padding: 12px;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
}